.shop{
    /* max-width: 990px; */
    
    position: relative;
}

.products-container{
    margin: 0 auto;
    max-width: 990px;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 45px;
    width: 80%;
    padding-top: 200px ;
}

.order-summary{
    width: 300px;
    background-color: rgba(255, 153, 0, 0.30);
    height: 100%;
    position: absolute;
    top: 85px;
    right: 0;
    padding: 23px;
}

.product{
    border-radius: 8px;
    border: 1px solid #95A0A7;
    /* height: 509px; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-img{
    /* width: 286px; */
    height: 286px;
    border-radius: 8px;
    padding: 8px;
}

.product-title{
    padding: 12px 14px;
    color: #0E161A;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}

.product-price{
    padding: 11px 14px;
    color: #0E161A;

    /* Subtitle 1 */
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.026px;
}

.product-seller, .product-ratings{
    padding: 2px 14px;
    color: #2A414F;

    /* Caption */
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.048px;
}

.product-ratings{
    margin-bottom: 20px;
}

.product-btn{
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background: #FFE0B3;
    color: #0E161A;
    padding: 16px 0;
    /* Button */
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.188px;
    cursor: pointer;
}

.product-btn:hover{
    background-color: coral;
}

.images{
    margin: 5px;
    height: 225px;
    overflow: hidden;
    background-color: #ebeeef;
    background-image: url("../../assets/Images/no.gif");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
