.header{
    background-color: #1C2B35;
    padding: 20px 0;
}

.header .container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-links ul{
    display: flex;
}

.header .header-links ul li{
    list-style: none;
}

.header .header-links ul li a{
    color: #FFF;

    /* Body 1 */
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
    margin-left: 36px;
}